body {
  background-color: #2b2b2b;
}

/* Estilos para tipografía */
.title-color {
  color:  #cb843e;
}

/* Estilos para separador */
hr.separator {
  border-width: 2.5px;
  overflow: visible;  
  width: 90%;
}

hr.separator:before {
  background: #2b2b2b;
  content: '\f096';
  color: #eee;
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -0.7em;  
}

hr.separator:after {
  background: #2b2b2b;
  content: '\f096';
  color: #eee;
  font-family: FontAwesome;
  font-size: 2em;  
  float: right;
  position: relative;
  top: -0.7em;  
}

/* Estilos para mapa */
.main-map {
  clear: both;
  display: block;
  height: 200px;
  margin: 0 auto;
  width: 80%;
}

/* Estilos para sección restaurantes */
.list-of-restaurants {
  margin: 20px 10%;
  overflow: auto;
}

.container-restaurant {
  background-color: #fff;
  float: left;
  margin: 1%;
  width: 31%;
}

.restaurant-img {
  max-width: 100%;
  position: relative;
}

/* Estilos a Mouseover */
img:hover {
  filter: grayscale(70%);
}

.name-rest {
  color: #ffffff; 
  font-weight: bold;
  position: absolute;
  text-align: center;
}

/* Otros estilos */
.centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Estilos para animación splash */
.splashscreen {
  background-color: #2b2b2b;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;  
  width: 100%;  
}

/* Versión web (desktop) */
@media (min-width: 768px) {
  .splashscreen {
    bottom: -300px;
  }
}